html,body{
    margin: 0px;
    padding: 0px;
    background-color: salmon;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(145, 87, 163);
}

#nav-logo a{
    display: flex;
    text-decoration: none;
    color: white;
}

#nav-options{
    margin: 0px;
    padding: 0px;
}

nav ul{
    padding: 0px;
    display: flex;
    list-style: none;
}

nav li{
    font-size: 20px;
    padding-right: 20px;
}

nav li a{
    color: white;
    text-decoration: none;
}

#mensaje{
    text-align: center;
}

#productos{
    text-align: center;
    display: flex;
    justify-content: center;
}

#productos a{
    border-radius: 10px;
    padding: 10px;
    background-color: teal;
    color: white;
    text-decoration: none;
}

.producto{
    border-radius: 10px;
    background-color: whitesmoke;
    margin-right: 50px;
}

.precio{
    align-items: center;
    padding-left: 25px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

footer{
    display: flex;
}

footer ul{
    padding: 0px;
    margin-left: 10px;
    align-items: center;
    display: flex;
    list-style: none;
}

footer ul li{
    margin-right: 12px;
}

#privacidad{
    text-align: justify;
    padding: 20%;
    padding-top: 50px;
}