html,body{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

#mensaje{
    text-align: center;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: coral;
}

#nav-logo{
    display: flex;
}

#nav-options{
    margin: 0px;
    padding: 0px;
}

nav ul{
    padding: 0px;
    display: flex;
    list-style: none;
}

nav li{
    font-size: 20px;
    padding-right: 20px;
}

nav li a{
    color: black;
    text-decoration: none;
}

footer{
    display: flex;
}

footer ul{
    padding: 0px;
    margin-left: 10px;
    align-items: center;
    display: flex;
    list-style: none;
}

footer ul li{
    margin-right: 20px;
}